* {
    border: none;
    border-radius: 0;
    font-family: "NotoSans Nerd Font", "Noto Sans", "Noto Sans CJK HK", "Noto Sans CJK JP", "Noto Sans CJK KR",  "Noto Sans CJK SC", "Noto Sans CJK TC";
    font-weight: normal;
    font-size: 20px;
    color: white;
}

window#waybar {
    background-color: rgba(14, 14, 14, 0.9);
    color: white;
}

button {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 20px;
    box-shadow: inset 0 -3px transparent;
    transition-duration: 0.1s;
}

button:hover {
    background: rgba(255, 255, 255, 0.06);
    box-shadow: inset 0 -3px rgba(255, 255, 255, 0.6);
    transition-duration: 0.1s;
}

button:active {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 -3px white;
    transition-duration: 0.1s;
}

#workspaces button.active,
#workspaces button.focused {
    background-color: rgba(255, 255, 255, 0.12);
    box-shadow: inset 0 -3px white;
    transition-duration: 0.1s;
}

#bluetooth,
#clock,
#custom-sunset,
#custom-waybar-mpris,
#scratchpad,
#idle_inhibitor,
#mode,
#network,
#pulseaudio,
#tray {
    margin-left: 2px;
    margin-right: 2px;
    min-width: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#workspaces button.urgent,
#pulseaudio.sink-muted,
#pulseaudio.source-muted,
#network.disabled,
#network.disconnected,
#tray > .needs-attention {
    animation-name: urgent;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#mode {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes urgent {
    from {
        background-color: #FF453A;
    }
    to {
        background-color: transparent;
    }
}

@keyframes blink {
    from {
        background-color: #BF5AF2;
    }
    to {
        background-color: transparent;
    }
}

label:focus {
    background-color: #000000;
}

tooltip {
    padding: 4px 4px;
    background: rgba(14, 14, 14, 0.9);
    border: 2px solid #444444;
}
