configuration {
  show-icons: true;
  icon-theme: "WhiteSur-dark";
  display-drun: "";
  location: 0;
  fake-transparency: false;
  hide-scrollbar: true;
  bw: 0;
  terminal: "alacritty";
  sidebar-mode: false;
  font:"NotoSans Nerd Font 16";
}
@import "~/.config/rofi/config/monterey.rasi"

/* vim:ft=css
