configuration {
  show-icons: true;
  icon-theme: "WhiteSur-dark";
  display-drun: "";
  location: 0;
  fake-transparency: false;
  hide-scrollbar: true;
  bw: 0;
  terminal: "alacritty";
  sidebar-mode: false;
  font:"Noto Sans 16";
}
@import "/home/kpatino/.config/rofi/config/monterey.rasi"
