window {
    background-image: url("/home/kpatino/Pictures/Saved Pictures/Wallpapers/Landscapes/macos-monterey.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
 }
