[Match]
Name=enp4s0

[Link]
Multicast=yes

[Network]
DHCP=yes
IPv6AcceptRA=true
IPv6PrivacyExtensions=true
MulticastDNS=true

[IPv6AcceptRA]
UseDNS=yes

[DHCPv6]
UseDNS=yes

[DHCPv4]
UseDNS=yes
