[Match]
Name=enp4s0

[Network]
DHCP=yes
IPv6AcceptRA=true
IPv6PrivacyExtensions=true

[IPv6AcceptRA]
UseDNS=yes

[DHCPv6]
UseDNS=yes

[DHCPv4]
UseDNS=yes
