configuration {
  icon-theme: "WhiteSur-dark";
  display-drun: "";
  display-run: "";
  location: 0;
  terminal: "foot";
  sidebar-mode: false;
  scroll-method: 0;
  font:"NotoSans Nerd Font 16";
}

@theme "monterey"

/* vim:ft=css
