@define-color ac #0A84FF;
@define-color bg rgba(14, 14, 14, 0.9);
@define-color cl rbga(0, 0, 0, 0.0);
@define-color br #444444;

* {
    font-family: NotoSans Nerd Font;
    color: white;
}

window {
    background-color: @bg;
    padding: 16px;
}

#outer-box {
    border: 4px solid @br;
    padding: 16px;
}

#input {
   background-color: @cl; /* transparent search bar */
   padding: 16px;
   color: white;
   font-size: 20px;
}

#scroll {

}

#inner-box {

}

#entry {
    padding: 16px;
    margin: 8px;
    font-size: 20px;
}

#entry:selected {
    background-color: @ac;
}

#text {
   font-size: 22px;
   margin: 8px;
}
